* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* colors */
:root {
  --primary-color: #333;
  --secondary-color: #f1f1f1;
  --tertiary-color: #fff;
}

.blue {
  color: rgb(14, 14, 204);
}

.red {
  color: red;
}

.background__blue {
  background-color: blue;
}

.background__red {
  background-color: red;
}


/* layout */

body {
  height: 100vh;
  background-image: url("../img/Screenshot\ 2025-03-11\ 104403.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.left {
  flex: 1 1 auto;
  width: 25%;
}

.right {
  flex: 1 1 auto;
  width: 25%;
}

.container {
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: flex;
  width: 75vw;
  gap: 20px;
  background-color: white;
  min-height: 85vh;

  & .first__image, .second__image{
    width: 80px;
    height: 80px;
    
    & img{
      width: 100%;
      height: auto;
    }
  }
}

header {
  margin-top: 20px;
  column-gap: 10px;
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "column1 column2 column4"
    "column1 column3 column4";

    & .first__image {
      grid-area: column1;
      align-items: center;
    }

    & .title {
      grid-area: column2;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.3rem;
    }

    & .subtitle {
      grid-area: column3;
      display: flex;
      font-size: 0.8rem;
      align-items: center;
      justify-content: center;
    }

    & .second__image {
      grid-area: column4;
    }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;

  & .signin__head {
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
  }

  & .input__container {
    margin-bottom: 10px;
    font-weight: bold;
  }

  & .input__container input {
    width: 30vw;
    outline: none;
    padding: 8px 20px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 5px
  }

  & .remember__container{
    display: flex;
    gap: 10px;
  }

  & .button__container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  & .submit__button {
    width: 28vw;
    padding: 10px 20px;
    margin-top: 40px;
    margin-bottom: 10px;
    background-color: red;
    color: var(--tertiary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
  }

  & .or {
    width: 100%;
    display: flex;
    gap: 90px;
    justify-content: center;
    align-items: center;
    margin: 5px;

    & .spacing {
      width: 100%;
    }
  }

  & .forgot__password {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;

    & a {
      color: var(--primary-color);
      text-decoration: none;
    }
  }
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: black;
  padding: 10px;

  & .social__media {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  & .facebook {
    width: 30px;
    height: 20px;
  }

  & .google {
    width: 30px;
    height: 20px;
  }

  & .apple {
    width: 40px;
    height: 50px;
  }

  & .signup__link {
    text-decoration: none;
    font-size: 0.8rem;

    & a {
      color: red;
      text-decoration: none;

      &:hover {
        color: blue;
        text-decoration: underline;
      }
    }
  }
}

/* media screen */

@media screen and (max-width: 1200px) {
  .container {
    width: 80vw;
    margin-top: 230px;
    margin-bottom: 20px;
  }

  header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
  }

  .left {
    width: 40%;
  }

  .right {
    width: 40%;
  }

  form {
    .input__container input {
      width: 100%;
    }
  }
}

@media screen and (max-width: 392px) {
  .container {
    width: 80vw;
    margin-top: 250px !important;
  }
}

@media screen and (max-width: 420px) {
  .container {
    width: 80vw;
    margin-top: 50px !important;
  }
}

@media screen and (max-width: 360px) {
  .container {
    width: 80vw;
    margin-top: 190px !important;
  }
}